.example-card {
    max-width: 300px;
    max-height: 300px;
  }

.tcg-card{
    max-width: 300px;
    max-height: 300px;
}
  
  .example-header-image {
    background-image: url('../../../assets/DC_Comics_logo.svg');
    background-size: cover;
}